html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
  overflow-x: hidden;
  position: relative;
}

header {
  justify-self: center;
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#sectioncard {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.boxtittle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.tittlecard {
  color: white;
  font-size: 25px;
  font-family: "Poppins";
}

/* TRILHO */
.paicard {
  display: flex;
  gap: 20px;
  padding: 0 60px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  animation: fadeUp 0.8s ease forwards;
}

/* CARD */
.card {
  min-width: 360px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.card {
  border-radius: 20px;
  border: 2px solid white;
  outline: 2px solid transparent;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.content {
  pointer-events: none;
  position: absolute;
  inset: 0;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3),
    transparent
  );

  color: white;
}

.content a {
  margin-top: 10px;
  background: rgb(255, 255, 255);
  color: black;
  padding: 10px 16px;
  border-radius: 12px;
  text-decoration: none;
  width: fit-content;
  pointer-events: auto;
}

/* SETAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.9);
}

.content h1,
.content p {
  color: white;
}
.content a {
  transition: background-color 0.4s ease;
}

.content a:hover {
  background-color: #d9d9d99a;
}

.titllecard {
  color: #302b2b6c;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.left {
  left: 16px;
}

.arrow.right {
  right: 16px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.85);
}
p {
  font-family: "Poppins";
  font-size: 15px;
  color: #000;
}

.boxh1 h1 {
  scale: 1;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin-left: 9%;
}

.social {
  /*posicionamento dos links sociais de acordo com o pai*/
  display: flex;
  list-style: none;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 0;
}
ul p {
  color: white;
}
ul a {
  /*formatcao dos links sociais*/
  color: white;
  cursor: pointer;
}
ul a:hover {
  color: #5a595a;
}
.boximg {
  width: 40%;
  display: flex;
  justify-content: center;
}

.boximg img {
  max-width: 320px;
}

.sobre {
  background-color: #fff;
  padding: 80px 20px;
}

.sobre-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.titulosobre {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #1a1a1a;
  margin-bottom: 1px;
}

.linha {
  width: 60px;
  height: 2px;
  background-color: #1a1a1a;
  margin: 0 auto 32px auto;
  opacity: 0.4;
}

.sobre-texto {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #2a2a2a;
}

footer p {
  color: #d9d9d9;
  text-align: center;
}

.boxh1 {
  min-width: 100px;
  flex: 1;
  text-align: center;
}

.penultimasec {
  background-color: white;
  padding: 10px 0px;
}
.boxtittle2 {
  display: flex;
  justify-content: center;
}

.track {
  display: flex;
  scale: 0.2;
  gap: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: jump 1s ease-in-out infinite;
}
@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.paicard {
  width: 100%;
  overflow: hidden;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contato {
  position: fixed;
  display: flex;
  background-color: #25d366;
  border-radius: 50%;
  padding: 20px;
  margin-left: 95%;
  margin-top: 40%;
  z-index: 2;
}
.contato:hover {
  box-shadow: 0 0 12px #5f5757;
}
svg {
  fill: white;
  scale: 2;
}
.boxver {
  display: block;
  justify-content: center;
  align-items: center;
}

:root {
  --btn-start: white;
  --btn-end: white;
  --btn-shadow: black;
  --btn-hover-start: #d9d9d9;
  --btn-hover-end: #d9d9d9;
}
.boxver button {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 15px;
  color: black;
}
.btn-ver {
  padding: 10px 50px;

  font-family: bold;
  color: var(--text-color);
  background: linear-gradient(180deg, var(--btn-start) 0%, var(--btn-end) 100%);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow:
    0 8px 0 var(--btn-shadow),
    0 12px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}
.btn-ver:hover {
  background: linear-gradient(
    180deg,
    var(--btn-hover-start) 0%,
    var(--btn-hover-end) 100%
  );
}

.btn-ver:active {
  transform: translateY(6px);
  box-shadow:
    0 2px 0 var(--btn-shadow),
    0 4px 8px rgba(0, 0, 0, 0.3);
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.right h1 {
  color: black;
  font-family: "Poppins";
}
.boxtittle2 h1 {
  color: black;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 25px;
}
